.alphabet-search {
  margin: auto;
  width: 1200px;
}
.alphabet-search button {
  background-color: white;
  border: none;
  cursor: pointer;
}
.alphabet-search button.active {
  font-weight: bold;
  border-bottom: 2px solid black;
}
.search-result__content {
  /* display: flex;
  flex-direction: column; */
  background-color: #f5f5f5;
  margin-top: 20px;
}

.search-result__content .card-listing__bottomHandler {
  border-radius: 8px 8px 0 0;
}

/* .card-listing__topHandler {
  border-radius: 0 0 8px 8px;
} */
